html, body {
  background: #0000;
  background: -webkit-linear-gradient(to bottom, #cf3434, #0a0a0a);
  background: linear-gradient(to bottom, #cf3434, #0a0a0a);
  height: 100%;
  min-width: 500px;
}

#citation {
  font-size: 2em;
  font-family: 'Satisfy', curve;
  line-height: 1.3em;
  letter-spacing: 1px;
}

#citation:before {
    content: open-quote;
}

#citation:after {
    content: close-quote;
}

#auteur {
  font-size: 1.5em;
  font-style: italic;
}

#nouveau {
  background: #ff5e62;
  background: -webkit-linear-gradient(to right, #ff5e62, #e7060698);
  cursor: pointer;
  background: linear-gradient(to right, #ff5e62, #e7060698);
  cursor: pointer;
}

/* SABRE LASER */

/* Poignée du sabre laser */
.lightsaber .hilt {
	cursor: pointer;
	width: 15px;
	height: 50px;
	border-bottom: solid 4px grey;
	border-top: solid 5px grey;
	border-radius: 5px;
	z-index: 1;
	background: rgb(226, 226, 226);
	background: linear-gradient(
		to right,
		rgba(226, 226, 226, 1) 0%,
		rgba(219, 219, 219, 1) 50%,
		rgba(209, 209, 209, 1) 51%,
		rgba(254, 254, 254, 1) 100%
	);
    

  /* Bouton de la poignée */
	& > .switch {
		background: black;
		width: 3px;
		height: 10px;
		position: absolute;
		bottom: 25px;
		left: 13px;
		border-radius: 10px;
		/* transform: scale(0.1, 1); */
	}

  /*Au clic sur la poignée, le laser prend la taille voulue en hauteur */
	&:active + .plasma {
		transform: scale(1, 1);
	}

	&:active > .switch {
		transform: scale(0.1, 1);
	}
}

.lightsaber .plasma {
	transition: transform 300ms;
	border-radius: 12px 12px 0 0;
	position: absolute;
	bottom: 45px;
	left: 2px;
	width: 10px;
	display: block;
	transform: scale(1, 0);
	height: 250px;
	transform-origin: bottom center;
  z-index: -1;
	filter: blur(1px);
	/* transform: scale(1, 1); */
}

.vader {
	background: linear-gradient(
		to right,
		rgba(229, 17, 21, 1) 0%,
		rgba(254, 254, 254, 1) 30%,
		rgba(254, 254, 254, 1) 47%,
		rgba(254, 254, 254, 1) 71%,
		rgba(229, 17, 21, 1) 100%
	);
	box-shadow: 0 0 10px #e51115;
}

.lightsaber-example {
    transform: rotate(90deg);
	display: flex;
  justify-content: center;
}

.lightsaber {
	position: relative;
}
